/*
 * @file Declares default CSS
 * @author Reuben L. Lillie <reubenlillie@gmail.com>
 */

audio {
  width: 100%;
}

blockquote {
  font-size: medium;
  max-width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1em;
}

h4 {
  font-style: italic;
}

dt {
  font-weight: bold;
}

/**
 * Prevent long words, especially URLs from overflowing their containers
 * @see {@link https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/}
 */
main a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

/*
 * Ensure block elements (e.g. headings) display inline with summary markers
 */
summary > * {
  display: inline;
}

table {
  border-collapse: collapse;
}

thead,
tfoot {
  border-style: solid;
  border-width: 1px;
}

thead {
  border-color: transparent transparent #271b0f transparent;
  border-color: transparent transparent var(--black, #271b0f) transparent;
}

tfoot {
  border-color: #271b0f transparent transparent transparent;
  border-color: var(--black, #271b0f) transparent transparent transparent;
}

ul {
  list-style: square;
}

.border-bottom {
  border-bottom-color: #848484;
  border-bottom-color: var(--gray, #848484);
  boder-bottom-style: dashed;
  border-bottom: 0.125vw;
  border-bottom: var(--base-unit-eighth, 0.125vw);
}

/*
 * Place every other quote on the opposite end of the page
 */
.quote:nth-of-type(2n) {
  margin-left: auto;
}

.quote p:before {
  content: '“';
  font-size: 5em;
  align-self: start;
  line-height: 0.5;
}

.quote p {
  max-width: inherit;
  display: flex;
  align-self: start;
  justify-items: start;
  font-family: Special Elite, monospace;
}

.quote cite {
  font-style: normal;
  font-weight: 600;
}
