/*
 * @file Declares additional CSS for syntax highlighting on code blocks
 * @author Reuben L. Lillie <reubenlillie@gmail.com>
 * @see {@link https://www.11ty.dev/docs/plugins/syntaxhighlight/}
 */

@font-face {
  font-family: Special Elite;
  src: url('/_includes/assets/fonts/special-elite/specialelite.woff2') format('woff2'),
    url('/_includes/assets/fonts/special-elite/specialelite.woff') format('woff');
}

code,
pre {
  --code-red: #da302d;
  --code-orange: #A45B28;
  --code-yellow: #d7b030;
  --code-green: #25743E;
  --code-blue: #006899;
  --code-pink: #894387;
  --code-purple: #3f35d2;
  --code-gray: #575757;
  --code-background: #fdfdfd;
  border-radius: 0.5vw;
  border-radius: var(--base-unit-half, 0.5vw);
  font-family: Special Elite, monospace;
  font-size: 0.875em;
  font-weight: bold;
  color: black;
  color: var(--black, black);
}

code {
  background: #fdfdfd;
  background: var(--code-background, #fdfdfd);
  padding: 0.125em;
  word-wrap: break-word;
}

pre {
  background: #fdfdfd;
  background: var(--code-background, #fdfdfd);
  border-color: #848484;
  border-color: var(--code-gray, #575757);
  border-style: solid;
  border-width: 0.0625vw;
  border-width: var(--base-unit-sixteenth, 0.0625vw);
  box-shadow: 0.125vw 0.125vw 0.125vw rgba(15,11,6,0.25);
  box-shadow: var(--base-unit-eighth, 0.125vw)
              var(--base-unit-eighth, 0.125vw)
              var(--base-unit-eighth, 0.125vw)
              rgba(15,11,6,0.25);
  line-height: 1.25;
  margin: 0 0 1.5em;
  overflow: auto;
  padding: var(--base-unit-2x, 2vw);
    -moz-tab-size: 4;
    -o-tab-size: 4;
  tab-size: 4;
}

pre:not([class^="language-"]) {
  white-space: pre-wrap;
  word-break: break-all;
}

pre .language-css {
  color: #b84fb5;
  color: var(--code-pink, #b84fb5);
}

pre code {
  background: transparent;
  border-radius: unset;
  color: black;
  font-size: 1em;
  padding: 0;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog,
.token.punctuation {
  color: var(--code-gray, #575757);
}

.token.constant,
.token.deleted,
.token.important,
.token.number,
.token.variable,
.token.operator {
  color: #da302d;
  color: var(--code-red, #da302d);
}

.token.symbol,
.token.parameter,
.token.regex {
  color: #ce7639;
  color: var(--code-orange, #ce7639);
}

.token.boolean,
.token.builtin,
.token.char,
.token.inserted,
.token.property,
.token.string {
  color: #44c36d;
  color: var(--code-green, #44c36d);
}

.token.atrule,
.token.keyword,
.token.selector,
.token.tag {
  color: #08b7ff;
  color: var(--code-blue, #08b7ff);
}

.token.attr-name,
.token.function,
.token.url {
  color: var(--code-pink);
}

.token.entity,
.token.attr-value,
.language-css .token.function,
.language-css .token.string {
  color: #3f35d2;
  color: var(--code-purple, #3f35d2);
}

.token.entity {
  cursor: help;
}

@media (prefers-color-scheme: dark) {
  pre,
  pre code {
    --code-red: #fa5044;
    --code-orange: #ce7639;
    --code-green: #44c36d;  
    --code-blue: #08b7ff;
    --code-pink: #b84fb5;
    --code-gray: #848484;
    --code-background: var(--black);
    color: white;
  }
}
