<link rel="apple-touch-icon" sizes="180x180" href="/_includes/favicons/apple-touch-icon.png?v=69BJWKGo25">
<link rel="icon" type="image/png" sizes="32x32" href="/_includes/favicons/favicon-32x32.png?v=69BJWKGo25">
<link rel="icon" type="image/png" sizes="16x16" href="/_includes/favicons/favicon-16x16.png?v=69BJWKGo25">
<link rel="manifest" href="/_includes/favicons/site.webmanifest?v=69BJWKGo25">
<link rel="mask-icon" href="/_includes/favicons/safari-pinned-tab.svg?v=69BJWKGo25" color="#101820">
<link rel="shortcut icon" href="/_includes/favicons/favicon.ico?v=69BJWKGo25">
<meta name="apple-mobile-web-app-title" content="Reuben L. Lillie">
<meta name="application-name" content="Reuben L. Lillie">
<meta name="msapplication-TileColor" content="#ce7639">
<meta name="msapplication-config" content="/_includes/favicons/browserconfig.xml?v=69BJWKGo25">
<meta name="theme-color" content="#ce7639">
